#main{
    .border( @color5 );
    .leftBoth;
    margin: 25px 0;
    width: @mainW;
    height: 400px;
}

#pagesWidgets{
    .left( @pagesWidgetsW );
    .relative;
    clear: left;
    margin: 25px;
}
/*
#pagesWidgets #tabs{
    .positionLeftTop( relative, 0, 1px );
    .zLevel2;
}
#pagesWidgets .tab{
    .left();
    .border( @color1 );
    .border-bottom( @color5 );
    .roundCorner( 0, 15px, 0, 0 ); 
    .positionLeftTop( relative, -4px, 0 );
    .zLevel1;
    padding: 5px;
    line-height: 25px;
    background: @color4;    
}

#pagesWidgets .tab:first-child{
    left: 0;
}

#pagesWidgets .tab a{
    color: @color1;
}

#pagesWidgets .tab.active{
    .zLevel2;
    border-color: @color5;
    border-bottom: 1px solid #fff !important;  
}
#pagesWidgets .tab.active a{
    color: @color5;
}
*/
#breadcrumbs{
    .left();
    margin-top: 5px;
}

#breadcrumbs .breadcrumb{
    .left(); 
}

#breadcrumbs .breadcrumb.hover{
    background: @color10;
}

#filterArea{
    .right( @filterAreaW );
    .border-left(@color5, 10px, 25px);
    padding: 10px;
    height: 380px;
}
