#ratiosForm{
  .extra{
    .list;
  }//extra
  
  .inputs{
    div{
      input{
        .left(@ratiofieldsetInputW);
      }//input
      
      span{
        .left();
        padding-top: 5px; 
        margin: 0 3px;
        font-size: @font4; 
        .bold;
      }//span
    }//div
  }//inputs
  
  > .commands{
    .positionRightBottom( absolute, 5px, 5px );
  }//commands
  
  li{
     @proportionsW: 9%;
     .ratioSizeName{
        .left(@ratioNameW - @proportionsW * 2);
     }
     .ratioSizeW, .ratioSizeH{
        .left( @proportionsW );            
     } 
   }//li
}//ratiosForm

          
#ratioSizeForm{   
  .inputs{
    div{
      fieldset{
        .halfWidth;
        clear: none;
        margin-top: 5px;
        padding-left: 10px; 
        
        &:first-child{
          padding-left: 0;
          padding-right: 10px;
        }
      }//fieldset
    }//div
  }//inputs
}//ratioSizeForm
