#users{
  section{
      margin: 1% @sectionMargin;
  }
  
  .koolahForm{
    .extrainputs{
      .permissionsForm;
      
      .roles{
        .fullWidth;
        margin-top: 10px;
        
        legend{
          text-transform: uppercase;
        }//legend
        
        fieldset{
          .halfWidth;
          
          span{
            .left;
          }//span
        }//fieldset
      }//roles
      
      .permissions{
        .fullWidth;
        margin-top: 10px;
        
        fieldset{
          span{
            .left;
          }//span
        }//fieldset
      }//permissions
    }//
  }//koolahForm
}