body > section{
     padding-left: 2%;
     padding-right: 2%;
}

#adminNav{
    .left( 10% );
    
    #adminNavSectionBody{
        .commonBox( 100% );
    }
}

#mainBlock{
    .left( 80% );
    margin-left: 5%;
    
    #mainBlockSectionBody{
        .commonBox( 100% );
    }
}

form{ 
    .commonForm(60%);
    .col{
          padding: 0 15px;
          .halfWidth;
          clear: none;
     }  
     
    label{ 
      clear: none;
      margin-left: 5px; 
    }
    span{ 
        .left;
        padding: 2px; 
    }
    
    .leftCol{
        .col;
    }
    
    .rightCol{
        .col;
        .border-left(@color1);
        overflow-y: auto;
        margin: 0;
        
        #permissionsArea{
            fieldset.permission{
                .left;
                clear: none;
                margin-left: 15px;
                width: auto;
            } 
        }
    }
    
    .cat{
        .fullWidth;
        margin-top: 15px;
        &:first-child{ margin-top: 0; }
        
        .catName{ 
          .bold;
          .ucWords; 
        }
        .catPermissions{
            padding-left: 15px;
        }
    }
}

#saveCancel{
  .border-top(@color1);
  .border-bottom(@color1);
  padding: 10px 0;
}