#cropSection{
    .zLevel6;
    .overlayBox;
    .positionLeftTop( fixed, 50%, 1%);
    .border( @color6 );    padding: 20px;
    background: @color4;
    
    #cropMsgBlock{ 
        .fullWidth;
        margin: 10px 0;
    }    
    
    #cropImgArea{
        .left();
        margin-right: 30px;
        color: @color6;
        
        img,
        .jcrop-holder{
            .left();
        }
        
        .spanStyle{
            .absolute;
            .block;
            background: @color4;          
        }
        
        #cropImgHeight{
            .left();
            .relative; 
            .border-left( @color6, inherit, 20px );
            span{
                .spanStyle;        
                top: 50%;
                left: -16px;
                padding: 5px 0;    
            } 
        }
        
        #cropImgWidth{
            .border-top( @color6, inherit, 20px );
            .leftBoth;
            .relative;
            span{
                .spanStyle;
                top: -11px;
                left: 50%;
                padding: 0 5px;
            }
        }

    }
    
    #cropForm{
        .border( @color6 );
        .right( @cropFormW );
        padding: 10px;    
        
        legend{ 
          .fullWidth;
          font-size: @font4; 
        }
        
        fieldset{ .fullWidth; }
        
        #dimensions{
            .fullWidth;
        
            #ratios{
                button{
                   .button1;
                   .fullWidth;
                   padding: 5px 0;
                   margin-top: 5px; 
                }
                button.active,
                button:hover{
                    .button1.active;
                }
                button:first-child{
                    margin-top: 0px;
                }
            }
       }
       
       .commands{
            input{
              .thirdWidthM;
              margin-left: 2%;
            }
            input:first-child{ margin-left: 0; }
        }
    }
}