@uploadsCommandsW: 90px;

@filesSectionW: 60%;
@tagsSectionW: 25%;





/***
 * Tags Vars 
 */

@tagFormW: 350px;

/*

@searchTagW: 150px;

@tagsSectionTagHeadingOptionsButtonW: 35px;
@tagsSectionTagHeadingOptionsButtonH: 35px;

@tagListDragButtonW: 25px;
@tagListDragButtonH: 25px;
@tagListCommandsButtonW: 40px;

@tagFormW: 500px;
@tagFormSubmitW: 75px; 

@tagListH: 400px;

*/

@cropFormW: 250px;
@cropFormTopTierfieldsetW: 200px;
@cropSectionInputW: 180px; 
@cropSectionCommandsW: 202px;