#tagsSection{
    float: right;
    width: 400px;
    border: 1px solid #000;
    padding: 10px;
    margin: 20px;    
}

#tagsSection .tagHeading{
    margin-top: 10px;
}

#searchTagGo,
#searchTagReset,
#searchTag{
    float: left;
}

#searchTag{
    clear: left;
    width: 150px;
}

#tagsSection .tagHeading .options{
    float: right;
}

#tagsSection .tagHeading .options button{
    width: 35px;
    height: 35px;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 15px;
}

#tagList{
    margin-top: 15px;
    border-top: 3px solid #665;
}



#tagList .dragButton
{
    float: left;
    width: 25px;
    height: 25px;
    background: #ccc;
    margin-right: 5px;    
}
 
#tagList .commands{
    float: right;
}

#tagList .commands button{
    float: left;
    font-size: 14px;
    padding: 0;
    margin-left: 5px;
    width: 40px;
    text-align: center;     
}


#tagForm{
    position: fixed;
    top: 15%;
    left: 50%;
    
    width: 500px;
    margin-left: -225px;
    padding: 15px;
    
    background: #fff; 
    border: 1px solid #000;
}

#tagForm form
{
    padding: 10px;
    float: left;
    clear: both;
}

#tagForm fieldset
{
    float: left;
    padding: 10px;
    margin: 5px 0;
}

#tagForm fieldset.full
{
    clear: both;
    /*width: 356px;*/     
}

#tagForm fieldset.fullWidth input{
    width: 345px;
}

#tagForm fieldset.halfWidth input{
    width: 150px;
}


#tagForm fieldset.halfWidth input[type=submit]
{
    clear: none;
    float: left;
    width: 75px;
    text-align: center;
    padding: 3px;
    margin: 10px 5px;
}

#tagForm label,
#tagForm input
{
    clear: left;
    float: left;
}

#tagList 
{
    max-height: 300px;
    overflow-y: auto;    
}

#tagList .tagName
{
    float: left;
}

#tagList .options
{
    float: right;
}

#tagList .aTag
{
    margin: 5px 0;    
}

#tagList .aTag.odd
{
    background: #eee;
} 