#overlay{
    .positionLeftTop( absolute, 0, 0 );
    width: 100%;
    height: 100%;
    background: @white;
    .opacity( .7 );
}

#overlayBox,
.overlayBox{
    .positionLeftTop( absolute, 50%, 10% );
    background: @white;
    .zLevel6;    
    .border(#ccc);
    .shadow( @color3, 0, 0, 8px, -2px);
}

#overlayBox{
    .center( 350px );        
}