.pod{
    .left();
    .border( @color4 );
    .roundCorner( 10px );
    .shadow( @color3, 2px, 0, 2px, -1px);
    background: @color2;
    margin-left: 10px;
    padding: 2px 5px;
    
    //span, button{
    //    .left();
    //    line-height: @font2;
    //    @font2;
    //}
    
    button{ .clearButton; }
    .del{
        .right();
        margin-left: 10px;
        color: @black;
    }
    
    &:first-child{
        margin-left: 0;
    }
}
