#template{ 
    section{
        margin: 1% 3%;
    }  

    .koolahBasicContainer{
      .left(50%);  
      
      #templateInfo{
        .fullWidth;
      }//templateInfo
      
      #sections{
        .fullWidth;
      }//sections
      
      #nameField{
        .fullWidth;
        margin: 5px 0;
      }//nameField
      
      .fields{
        .fullWidth;
        min-height: 200px;
        max-height: 500px;
        overflow-y: auto;
        
        .field{ 
          .fullWidth;
          margin: 10px 0;
          .border( @color2 );
          padding: 4px;
          
          @fieldInfoW: 75%;
          .fieldInfo{
            .left( @fieldInfoW );
            //.border-right( @color2 );
            
            @fieldNameW: 75%;
            .fieldName{
              .left(@fieldNameW);
              padding: 4px 6px;
            }
            
            .fieldDetails{
              .left(100% - @fieldNameW);
              background: @color2;
              padding: 4px 6px;
              
              .extra{
                margin-top: 4px;
                color: @color5;
                font-size: @subfont2;
                .italic;
              }//extra;
              
              .isRequired{
                .extra;
              }//isRequired
              
              .many{
                .extra;
              }//isRequired
            }//fieldDetails
          }//fieldInfo
        
          .fieldInfoCommands{
            .right( 100% - fieldInfoW );
          }//fieldInfoCommands
        }//field
      }//fields
      
      .sectionCommands{
        .fullWidth;
        .border-top(@color2, 2px);
        padding-top: 5px;
      }//sectionCommands
      
      
      #templateCommands{
        .clear;
        .right();
        margin-top: 20px;
      }//templateCommands
    
      .help{
        .clear;
        .right();
        font-size: @subfont4;
        color: @color4;
        .italic;
      }//help      
    }//koolahBasicContainer  
    
    .koolahForm{
      .right(38%);
    }//koolahForm  
}



/*

#templatesSection{
    width: @templateSectionW;
    margin: 10px auto;

    #templateInfo{
        .left(@templateSectionLeftW);
        .border( @color3 );
        padding: 10px;     
    }
    
    #commands{
        .right( @templateSectionRightW );
        .border( @color3 );
        padding: 10px;
        margin-left: 5px;
    }
    
    input[type=text]{ @templatesSectionInputW; }

    #templateForm{
        .border( @color3 );
        padding: 5px;    
        
        fieldset{
            border: 0;
            margin: 0;
        }
        
        input[type=text]{ width: @templateFormInputW; }
    }
    
    
}





#addField{
    .leftBoth;
    .positionLeftTop( relative, 50%, 0 );
    margin: 15px 0 0 -50px;
    width: 100px;
}

#newFieldForm{
  .positionLeftTop( fixed, 50%, 10% );
  .center( @newFieldW );
  .border( @color3, 2px );   
  .zLevel5;
  background: @white;
  padding: 15px; 
  max-height: 500px;
    overflow-y: auto;
}

#newFieldCommands{ padding: 10px 0; }
#newFieldCommands fieldset{
    padding: 0;
    border: none;
}

#newFieldCommands #newFieldCommandsMainCommands{
    .left( @mainCommandsW );
    .border( @black );
    padding: 10px;   
}

#newFieldCommands #newFieldCommandsMainCommands .name{
    .left( @mainCommandsNameW );
    border: none;
}
#newFieldCommands #newFieldCommandsMainCommands .type{
    .right( @mainCommandsTypeW );
    border: none;
}

#newFieldCommands .furtherInfo{
    .leftBoth;
    width: @furtherInfoW;
    border: none;
    margin-top: 10px;
}

#newFieldCommands .furtherInfo label,
#newFieldCommands .furtherInfo input,
#newFieldCommands .furtherInfo select,
#newFieldCommands .furtherInfo textarea,
#newFieldCommands .furtherInfo div{
  .leftBoth;
  width: @furtherInfoW;
}


#newFieldCommands #requiredMany{
    .right( @requiredManyW );
    .border( @black );
    padding: 10px;
}

#newFieldCommands #newFieldSaveCancel{
    .border( @black );
    .rightBoth;
    width: @newFieldSaveCancelW;
    padding: 10px;    
}




#expandCollapseAll{
    .border( @black );
    .rightBoth;
    margin: 10px 0;
    padding: 2px 5px;
}

#tabNames{
    .positionLeftTop( relative, 0, 1px );
    .zLevel2;
}

#addSection a{ color: @color5; }

#sections{
    .relative;
    margin-top: 15px;

    .section{
      .border( @color3 );
      .relative;
      padding: 5px;
      background: darken( @white, 1% );  
      
      .fields{
        .border( @color3 );
        min-height: 50px;
        background: darken( @white, 2% );
      } 
      .addField{ .leftBoth; }
      
      .newField{
          //.positionLeftTop( absolute, 0, -100px );
          .border( @color3, 2px );   
          .zLevel5;
          background: @white;
          width: @newFieldW;
          padding: 15px; 
      }
    }
    
    
    .expandCollapse a{
        .border( @color3 );
        .right( 10px );
        .block;    
        font-size: @font4;
        height: 10px;
        line-height: 5px;
        text-align: center;
    }
    
    .delSection{
      .right();
      text-decoration: underline;
    }

}



#newSectionNameHolder{
    .positionLeftTop( absolute, 50%, 15px );
    .center( @newSectionNameHolderW );
    .border( @color3 );
    .shadow( @color3, 0, 8px, 6px, -6px );
    .zLevel2;
    background: @white;
    padding: 15px;
}

#sectionNameConfirmCancel{
    .leftBoth;
    margin-top: 10px;
}

#commands fieldset{
    .left( 50% );
    text-align: center;
}

#queryConditionals{
  
    .queryCondition{
        .border( @color3 );
        padding: 5px;
        
        .notFieldset{
            line-height: @font3;
            
            .common{
              clear: none !important;
              line-height: @font3; 
            }
            
            input{ 
              .common;
              width: auto;
              text-align: bottom;
            }
            label{
              .common;
              width: 250px; 
              margin-left: 5px;
            }
        }
        
        .remove{
          .right();
          
        }
    }
}
*/