.pods .pod,
.pod{
    float: left;
    margin-left: 10px;
    
    padding: 5px;
    
    border: 1px solid #665;
    background: #eee;
    -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
                  border-radius: 10px;
    -webkit-box-shadow: 0 0 8px -2px #ccc;
        -moz-box-shadow: 0 0 8px -2px #ccc;
                  box-shadow: 0 0 8px -2px #ccc; 
}

.pods .pod:first-child{
    margin-left: 0;
}

.pod span,
.pod span button{
    float: left;
    line-height: 20px;
    font-size: 16px;
    border: none;
    background: none;
}

.pod .del{
    float: right;
    margin-left: 10px;
}
