.tab{
    float: left;    
    padding: 5px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #000;
    
    line-height: 25px;
    border-top-right-radius: 15px;
    background: #fff;
    position: relative;
    left: -4px;
    z-index: 1;
    
    min-width: 50px;
    text-align: center;
    
    -webkit-box-shadow: 2px 0 2px -1px #ccc;
       -moz-box-shadow: 2px 0 2px -1px #ccc;
            box-shadow: 2px 0 2px -1px #ccc;
}

.tab:last{
    -webkit-box-shadow: 0 0 0 0 #fff;
       -moz-box-shadow: 0 0 0 0 #fff;
            box-shadow: 0 0 0 0 #fff;
}
.tab:first-child{
    left: 0;
}

.tab a{
    color: #ccc;
}

.tab.active{
    border-color: #000;
    border-bottom: 1px solid #fff !important;
    z-index: 2;
}
.tab.active a{
    color: #000;
}

.tabLabels{
    position: relative;
    top: 1px;
    z-index: 2;
}

.tabsBody{
    border: 1px solid #000;
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabBody{
    
}