.hide{display:none;}
.clear{clear:both;}
.leftBoth{
    .clear;
    .left();
}
.rightBoth{
    .clear;
    .right();
}
.fullWidth{
    .leftBoth;
    width: 100%;
}
.halfWidth{ 
  .left(50%);
  
  &:nth-child(2n + 1){
    clear: left;
  } 
}
.thirdWidth{ 
  .left(33%);
  
  &:nth-child(3n + 1){
    clear: left;
  } 
}
.thirdWidthM{ .left(32%); }

.quarterWidth{ 
  .left(25%);
  
  &:nth-child(4n + 1){
    clear: left;
  } 
}

.error{ color: @errorColor;}
.errMsg{
    .fullWidth; 
    .error;
    font-size: @font1;
}
.errorBorder{
    .border(@errorColor);
    .error;  
}
.success{color: @successColor;}
.draggable{cursor: move;}

.zLevel1{ z-index: @level1; }
.zLevel2{ z-index: @level2; }
.zLevel3{ z-index: @level3; }
.zLevel4{ z-index: @level4; }
.zLevel5{ z-index: @level5; }
.zLevel6{ z-index: @level6; }
.zLevel7{ z-index: @level7; }
.zLevel8{ z-index: @level8; }
.zLevel9{ z-index: @level9; }
.zLevel10{ z-index: @level10; }

.zLevelN1{ z-index: @level1*-1; }
.zLevelN2{ z-index: @level2*-1; }

.noText{ text-indent: -9999px; }
.upper{ text-transform: uppercase; }
.ucWords{ text-transform: capitalize; }

.background1{
    background: @background1;
    background: -moz-linear-gradient(left center, darken(@background1, 10%), @background1);  
}

.fixed{ position: fixed; }
.absolute{ position: absolute; }
.relative{ position: relative; }

.block{ display:block; }

.dropShadow{ .shadow( @color3, 0, 0, 10px, 5px); }
.dropShadow2{ .shadow( @shadowcolor1, 5px, 5px, 10px, 25px); }

.bold{ font-weight: bold; }
.italic{ font-style: italic; }
.textCenter{ text-align: center; }


input[type=submit],
button, a{
  cursor: pointer;
}

.clearButton{
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
}

.scrollAuto{
    //overflow-x: hidden;
    overflow-y: auto;
}

.button1{
    .clearButton;
    background: @color1;
    color: @black;
    font-size: font1;
    text-align: center;
    padding: 4px 5px;
}
.button1.active{
    background: @color3;
}

html,
body{ 
    .fullWidth;
    .background1; 
    
    > section{
        background: @white;
        padding: 25px 0;
        margin: 0;
        .fullWidth;
    }
}

.submit{
  .left;
  //.round(5px);
  padding: 4px 6px;
  text-align: center;
  color: @white;
  background: @color4;
  //width: 50px;
  .block;
  margin-left: 10px;
  border: none;
  //.border(darken(@shadowcolor1, 10%), 2px);
  
  &:first-child{
    margin-left: 0;
  }
  
  &:hover{
    background: @color5;
  }
}

button{
  .submit;
}

.go{
  .submit;
}

.save{
  .submit;
  &:hover{
    background: darken(green, 10%);
  }
}

.cancel{
  .submit;
  &:hover{
    background: darken(red, 10%);
  }
}

.del:hover{
  background: darken(red, 10%);
}
.reset{
  .submit;
  &:hover{
    background: @black;
  }
}

.search{
  @queryW: 50px;
  .fullWidth;
  .relative;
  padding-right: @queryW;
  margin: 0;
  
  label{
    .hide;
  }
  
  div{
    .fullWidth;
    .relative;
    
    .query{
      .fullWidth;
    }
    
    .reset{
      .positionRightTop(absolute, 5px , 0);
      background: none;
      color: @black;
    }
  }
  
  .searchGo{
     .positionRightTop(absolute, 0, 0);
     width: @queryW;
   }
}
