@color1: #ccc;
@color2: #ddd;
@color3: #eee;
@color4: #fff;
@color5: #000;
@color6: #665;
@color7: #707070;
@color8: #888;
@color9: #bbb;
@color10: #aaa;
@color11: #999;

@errorColor: red;
@successColor: green;

@fontFamily1:  calibri;

@baseFont:  14px;
@font1: @baseFont;
@font2: (@baseFont + 3);
@font3: (@baseFont + 5);
@font4: (@baseFont + 8);
@font5: (@baseFont + 13);
@font6: (@baseFont + 21);
@font7: (@baseFont + 44);

@subfont1: (@baseFont - 1);
@subfont2: (@baseFont - 2);
@subfont3: (@baseFont - 3);
@subfont4: (@baseFont - 5);

@level1: 10;
@level2: 20;
@level3: 30;
@level4: 40;
@level5: 50;
@level6: 60;
@level7: 70;
@level8: 80;
@level9: 90;
@level10: 100;

@imagesDir: '/public/images/';
@logosDir: "@{imagesDir}logos/";
@iconsDir: "@{imagesDir}icons/";

@headerH: 15%;
@footerH: 5%;