#templatesSection
{
    width: 1000px;
    margin: 10px auto;
}

#templatesSection .left{
	float: left;
    width: 773px;
    padding: 10px;
    border: 1px solid #ccc;	
}

#templatesSection .right
{
    float: right;
    width: 178px;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
}

#templatesSection input[type=text]{
	width: 410px;
}

#templateForm
{
    border: 1px solid #ccc;
    padding: 5px;    
}

#templateForm fieldset
{
    border: 0;
    margin: 0;
}

#templateForm input[type=text]
{
    width: 300px;
}


#addField{
	clear: both;
	float: left;
	position: relative;
	left: 50%;
	margin: 15px 0 0 -50px;
	width: 100px;
}

#newFieldCommands{
	padding: 10px 0;
}

#newFieldCommands fieldset{
	padding: 0;
	border: none;
}

#newFieldCommands #newFieldCommandsMainCommands{
	float: left;
	width: 545px;
	padding: 10px;
	border: 1px solid #000;	
}

#newFieldCommands #newFieldCommandsMainCommands .name{
	float: left;
	width: 415px;
	border: none;
}
#newFieldCommands #newFieldCommandsMainCommands .type{
	float: right;
	width: 100px;
	border: none;
}

#newFieldCommands .furtherInfo{
	width: 500px;
	float: left;
	clear: left;
	border: none;
	margin-top: 10px;
}

#newFieldCommands .furtherInfo label,
#newFieldCommands .furtherInfo input,
#newFieldCommands .furtherInfo select,
#newFieldCommands .furtherInfo textarea,
#newFieldCommands .furtherInfo div{
	clear: both;
	float: left;
	width: 480px;
}


#newFieldCommands #requiredMany{
	border: 1px solid #000;
	float: right;
	width: 150px;
	padding: 10px;
}

#newFieldCommands #newFieldSaveCancel{
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-bottom: 1px solid #000;
	clear: both;
	float: right;
	padding: 10px;
	width: 150px;
}


.field{
	margin: 10px 0;
}

.field .fieldInfo{
	float: left;
	width: 575px;
	border: 1px solid #000;	
	background: #fff;
}

.field .fieldNameInfo{
	float: left;
	width: 250px;
	padding: 5px;	
}

.field .fieldNameInfo .fieldSub *{
	float: left;
	margin-left: 5px;	
}
.field .fieldNameInfo .fieldSub *:last{
	margin-left: 0;
}

.field .fieldType{
	float: right;
	background: #ccc;
	width: 100px;
	height: 50px;
	padding: 5px;
	color: #000;
}


.field .fieldInfoCommands{
	float: right;
	width: 150px;
	padding-top: 10px;
}

#expandCollapseAll{
	float: right;
	clear: both;
	margin: 10px 0;
	border: 1px solid #000;
	padding: 2px 5px;
}

#tabNames{
    position: relative;
    top: 1px;
    z-index: 2;
}

#addSection a{
    color: #888; 
}

#tabNames .tab{
  
}

#sections{
    position: relative;
    margin-top: 15px;
}

#sections .section{
	border: 1px solid #000;
	padding: 5px;
	background: #fefefe;
	position: relative;
}

#sections .section .fields{
	min-height: 50px;
	background: #fafafa;
	border: 1px solid #ccc;
} 
#sections .section .addField{
	float: left;
	clear: both;	
}

#sections .section .newField{
    position: absolute;
    top: -100px;
    left: 0;
    background: #fff;
    border: 2px solid #000;   
    z-index: 100;
    width: 850px;
    padding: 15px; 
}

#sections .expandCollapse a{
	border: 1px solid #000;
    float: right;
    display: block;    
    font-size: 20px;
    height: 10px;
    line-height: 5px;
    text-align: center;
    width: 10px;
}

#sections .delSection{
	float: right;
	text-decoration: underline;
}

#newSectionNameHolder{
    position: absolute;
    border: 1px solid #ccc;
    padding: 15px;
    width: 500px;
    left: 50%;
    top: 15px;
    z-index: 15;
    background: #fff;
    margin-left: -250px;
    
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
       -moz-box-shadow: 0 8px 6px -6px #ccc;
            box-shadow: 0 8px 6px -6px #ccc;
}

#sectionNameConfirmCancel{
    clear: both;
    float: left;
    margin-top: 10px;
}

#commands fieldset{
    float: left;
    width: 50%;
    text-align: center;
}
